* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;


}



.navigation {

    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;


}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 20px 304px;
    padding-top: 110px;

}

.navigation a {
    text-decoration: none;
    font-size: 18px;
    color: #22223b;

}

.navlist {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-right: 150px;

}

.one {
    height: 50vh;
    background-color: #f77f00;

}

.two {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.two .SRI {
    text-align: center;
    margin-top: 50px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
}

.two .boxes {
    width: 40%;
    display: flex;
    border-radius: 10px;
    justify-content: center;



}

.box {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;

}

#boxabove {
    border: 4px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;




}

.innertext {
    width: 75%;
}

.three {

    height: 40vh;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;

}

.quotetext {
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    color: #1F2937;
    width: 65%;
    margin-left: 500px;
}

.author {
    margin-left: 70%;
    font-size: 34px;
    font-weight: 700;

}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.innercontent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40vh;
    margin-right: 400px;



}

.hero {
    width: 490px;
    font-size: 18px;
    color: #E5E7EB;

}

.btn {
    background-color: #3882F6;
    color: white;
    padding: 8px 50px;
    border-radius: 10px;
    margin-top: 8px;
    font-family: Roboto, sans-serif;
    font-weight: 700;


}


.four {

    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;


}



.innerbox {

    background-color: #0077b6;
    width: 60%;
    height: 45%;
    border-radius: 10px;

}

.innerboxtext {
    display: flex;
    flex-direction: column;
}

.CTAcontainer {

    display: flex;
    flex-direction: row;

}

.sbtn {

    background-color: #0077b6;
    color: white;
    padding: 8px 40px;
    border-radius: 10px;
    margin-top: 8px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    border: 2px solid white;
    margin-top: 50px;
    margin-left: 150px;

}


.CTA {

    color: white;
    margin-top: 40px;
    margin-left: 80px;
    font-size: 20px;

}

.IBT {

    color: #e5e5e5;
    margin-left: 80px;
    font-size: 15px;
}

.mainimg {
    height: 210px;
    width: 450px;
    border-radius: 10px;
}

.five {
    background-color: #1F2937;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ftr {

    color: #E5E7EB;
    font-size: 15px;

}

.logoimg {


    width: 100%;
    height: 160px;
}